{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
            <h1> This is the Homepage <h1> 

            <img src="/static/images/house.jpg" height="1330" width="2364">
            </div>
        </div>
    </div>
{{end}}

